body{

background-image: url("web.jpg");
background-repeat: no-repeat;
background-position: right top;
background-attachment: fixed;
}

.center{
text-align: center;
    background-color: #1F2833;
    color: white;
    padding: 15px;
}
.text_center{
text-align: center;
}
a:hover{
  color: rgb(0, 144, 0);
}
a:link{
    color: rgb(255, 189, 127);
}
iframe{
width: 100%;
height: 200%;
}
table,th,td{
border: 1px solid black;
border-collapse: collapse;

}
th,td{
padding: 10px;
}
td:nth-child(even),td:nth-child(odd){
background-color: #D6EEEE;
}
audio{
width: 100%;
}

#div1 {
  width: 350px;
  height: 70px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}